In [62]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns

In [63]:
file = "Rhein_Diepoldsau_34_small.xlsx"

In [64]:
df = pd.read_excel(file)
df

,Kürzel,Status Nr.,Bemerkung,Jahr,Datum,Dauer,Mittl.Abfluss,Abflussumme,Temp.(BAFU),pH(BAFU),...,Zink,Kupfer,Cadmium,Blei,Nickel,Quecksilber,NP,NP1EO,NP2EO,NP3EO
0,NaN,NaN,NaN,,Ende,h,m3/s,Mio m3,°C,NaN,...,micro g/l,micro g/l,micro g/l,micro g/l,micro g/l,micro g/l,micro g/l,micro g/l,micro g/l,micro g/l
1,DI,4,Sulfat sollte 64mg/l sein,1984,1984-01-09 09:50:00,312,110,123.96,4,8.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DI,1,NaN,1984,1984-01-23 09:35:00,336,111.6,134.77,3.2,8.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DI,1,NaN,1984,1984-02-06 09:45:00,336,104.3,126.03,3.69,8.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DI,1,NaN,1984,1984-02-20 10:00:00,336,124.5,150.57,2.56,8.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,DI,1,NaN,2017,2017-10-30 09:15:00,335,184.45,222.73,8.82,8.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
884,DI,1,NaN,2017,2017-11-13 08:55:00,336,180.68,218.34,7.26,8.07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
885,DI,1,NaN,2017,2017-11-28 14:35:00,366,156.85,206.47,5.63,8.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
886,DI,1,NaN,2017,2017-12-11 08:30:00,306,170.3,187.56,4.28,8.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
887,DI,1,NaN,2017,2017-12-27 08:50:00,384,156.77,216.9,4.28,8.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:


df=df.iloc[1:]
df
#df['Datum'] = pd.to_datetime(df['Datum'])

#print (df['date'].dtype)
#datetime64[ns]

,Kürzel,Status Nr.,Bemerkung,Jahr,Datum,Dauer,Mittl.Abfluss,Abflussumme,Temp.(BAFU),pH(BAFU),...,Zink,Kupfer,Cadmium,Blei,Nickel,Quecksilber,NP,NP1EO,NP2EO,NP3EO
1,DI,4,Sulfat sollte 64mg/l sein,1984,1984-01-09 09:50:00,312,110,123.96,4,8.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,DI,1,NaN,1984,1984-01-23 09:35:00,336,111.6,134.77,3.2,8.05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,DI,1,NaN,1984,1984-02-06 09:45:00,336,104.3,126.03,3.69,8.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DI,1,NaN,1984,1984-02-20 10:00:00,336,124.5,150.57,2.56,8.03,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,DI,1,NaN,1984,1984-03-05 09:40:00,336,120.3,145.09,3.58,8.07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,DI,1,NaN,2017,2017-10-30 09:15:00,335,184.45,222.73,8.82,8.10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
884,DI,1,NaN,2017,2017-11-13 08:55:00,336,180.68,218.34,7.26,8.07,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
885,DI,1,NaN,2017,2017-11-28 14:35:00,366,156.85,206.47,5.63,8.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
886,DI,1,NaN,2017,2017-12-11 08:30:00,306,170.3,187.56,4.28,8.09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
887,DI,1,NaN,2017,2017-12-27 08:50:00,384,156.77,216.9,4.28,8.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
print(df['Datum'].dtype)

df['Datum'] = pd.to_datetime(df['Datum'])

print(df['Datum'].dtype)

object
datetime64[ns]

C:\Users\Kieran\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [67]:
df['year'] = df['Datum'].dt.year
df['month'] = df['Datum'].dt.month
df['day'] = df['Datum'].dt.day

C:\Users\Kieran\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Kieran\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Kieran\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [61]:
df['month']

2       1
3       2
4       2
5       3
6       3
       ..
883    10
884    11
885    11
886    12
887    12
Name: month, Length: 886, dtype: int64

In [68]:
df['Gesamt-Stickstoff']

1         0.887
2           NaN
3           NaN
4        1.3745
5        1.0175
         ...
883     0.53323
884    0.649715
885    0.669089
886    0.544876
887    0.749216
Name: Gesamt-Stickstoff, Length: 887, dtype: object

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 1 to 887
Data columns (total 53 columns):
Kürzel                 887 non-null object
Status Nr.             887 non-null object
Bemerkung              83 non-null object
Jahr                   887 non-null object
Datum                  887 non-null datetime64[ns]
Dauer                  887 non-null object
Mittl.Abfluss          885 non-null object
Abflussumme            885 non-null object
Temp.(BAFU)            885 non-null object
pH(BAFU)               867 non-null float64
Leitf. 25°C(BAFU)      871 non-null object
Sauerstoff             865 non-null object
Sauerstoffsätt.%       865 non-null float64
Mittl.Abfluss.1        887 non-null object
Abflussumme.1          887 non-null object
Temp.(BAFU).1          887 non-null object
pH(BAFU).1             869 non-null object
Leitf. 25°C(BAFU).1    202 non-null object
Sauerstoff.1           866 non-null object
Sauerstoffsätt.%.1     865 non-null object
pH (EAWAG)             872 non-null object
Leitf.20º (EAWAG)      874 non-null object
Gesamthärte            876 non-null object
Alkalinität            875 non-null object
Calcium                875 non-null object
Magnesium              875 non-null object
Nitrat                 876 non-null object
Gesamt-Stickstoff      869 non-null object
DRP                    869 non-null object
Gesamt-Phosphor        871 non-null object
Chlorid                876 non-null object
Kieselsäure            875 non-null object
Sulfat                 875 non-null object
Natrium                874 non-null object
Kalium                 869 non-null object
Eisen                  0 non-null object
TOC                    861 non-null object
DOC                    873 non-null object
Schwebstoffe           873 non-null object
Chrom                  0 non-null object
Zink                   0 non-null object
Kupfer                 0 non-null object
Cadmium                0 non-null object
Blei                   0 non-null object
Nickel                 0 non-null object
Quecksilber            0 non-null object
NP                     38 non-null object
NP1EO                  37 non-null object
NP2EO                  36 non-null object
NP3EO                  13 non-null object
year                   887 non-null int64
month                  887 non-null int64
day                    887 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(47)
memory usage: 367.4+ KB