In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
#Data Upload
df1 = pd.read_excel(r"D:\Sciebo\TechLabs_AI_Track\Team_11\naduf_data\Rhein_Rekingen_34.xlsx", sheet_name='Sammelproben K')
df2 = pd.read_excel(r"D:\Sciebo\TechLabs_AI_Track\Team_11\naduf_data\Rhein_Laufenburg_08.xlsx", sheet_name='Sammelproben K')
df3 = pd.read_excel(r"D:\Sciebo\TechLabs_AI_Track\Team_11\naduf_data\Rhein_Diepoldsau_34.xlsx", sheet_name='Sammelproben K')
df4 = pd.read_excel(r"D:\Sciebo\TechLabs_AI_Track\Team_11\naduf_data\Rhein_Rheinfelden_08.xlsx", sheet_name='Sammelproben K')
df5 = pd.read_excel(r"D:\Sciebo\TechLabs_AI_Track\Team_11\naduf_data\Rhein_Schmitter_10.xlsx", sheet_name='Sammelproben K')
df6 = pd.read_excel(r"D:\Sciebo\TechLabs_AI_Track\Team_11\naduf_data\Rhein_Village-Neuf_10.xlsx", sheet_name='Sammelproben K')
df7 = pd.read_excel(r"D:\Sciebo\TechLabs_AI_Track\Team_11\naduf_data\Rhein_Weil_Jahrbuch_29.xlsx", sheet_name='Sammelproben K')

In [4]:
#cutting off frist explanatory row
df1=df1.iloc[1:]
df2=df2.iloc[1:]
df3=df3.iloc[1:]
df4=df4.iloc[1:]
df5=df5.iloc[1:]
df6=df6.iloc[1:]
df7=df7.iloc[1:]

In [5]:
#append frames to one 
dfx = df1.append(df2, ignore_index=True, sort=False)
dfx = dfx.append(df3, ignore_index=True, sort=False)
dfx = dfx.append(df4, ignore_index=True, sort=False)
dfx = dfx.append(df5, ignore_index=True, sort=False)

In [6]:
#set row for year, month and day 
dfx['Datum'] = pd.to_datetime(dfx['Datum'])
dfx['year'] = dfx['Datum'].dt.year
dfx['month'] = dfx['Datum'].dt.month
dfx['day'] = dfx['Datum'].dt.day

In [7]:
# delete colum with comments

del dfx['Bemerkung']

# obejetcs to floats
cols = dfx.columns.drop('Kürzel','Datum')

dfx[cols] = dfx[cols].apply(pd.to_numeric, errors='coerce')

In [8]:
dfx.describe()

,Status Nr.,Labornummer,Jahr,Datum,Dauer,Mittl.Abfluss,Abflussumme,Temp.(BAFU),pH(BAFU),Leitf. 25°C(BAFU),...,Quecksilber,NP,NP1EO,NP2EO,NP3EO,Calcium (IC),Status Nr.,year,month,day
count,1248.000000,2700.000000,3111.000000,3.113000e+03,3113.000000,3048.000000,3048.000000,3049.000000,2915.000000,2919.000000,...,21.000000,123.000000,122.000000,118.000000,25.0000,535.000000,1820.000000,3113.000000,3113.000000,3113.000000
mean,1.336538,31985.686667,1993.529412,7.583492e+17,267.098351,430.766467,407.292802,9.928511,8.088185,317.418354,...,0.027857,3.430991,0.477681,0.422033,0.0416,45.606093,1.265385,1993.525538,6.591712,15.668166
std,1.312653,15435.127312,13.692008,4.318449e+17,84.316478,330.263574,314.782714,5.125226,0.148950,46.600522,...,0.009161,7.269654,0.768949,0.754622,0.0080,6.808101,1.095952,13.687903,3.443263,8.778703
min,1.000000,1984.000000,1974.000000,1.376700e+17,23.083333,59.140000,18.130000,1.240000,7.570000,173.400000,...,0.025000,0.045000,0.040000,0.040000,0.0400,25.808000,1.000000,1974.000000,1.000000,1.000000
25%,1.000000,18688.750000,1980.000000,3.438975e+17,168.000000,196.955000,172.477500,5.540000,7.990000,292.175000,...,0.025000,0.102484,0.040000,0.040000,0.0400,40.542000,1.000000,1980.000000,4.000000,8.000000
50%,1.000000,33211.500000,1992.000000,6.977190e+17,334.000000,344.455000,343.875000,9.090000,8.100000,321.600000,...,0.025000,0.200000,0.105000,0.085000,0.0400,45.537000,1.000000,1992.000000,7.000000,16.000000
75%,1.000000,45968.250000,2006.000000,1.158594e+18,336.000000,541.100000,536.883220,13.310000,8.200000,350.350000,...,0.025000,2.738600,0.500000,0.500000,0.0400,50.660000,1.000000,2006.000000,10.000000,23.000000
max,10.000000,53385.000000,2017.000000,1.514372e+18,432.000000,2268.000000,2429.870100,25.090000,8.650000,448.100000,...,0.060000,38.063400,4.737200,6.031550,0.0800,68.691000,10.000000,2017.000000,12.000000,31.000000

In [27]:
#info
dfx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3113 entries, 0 to 3112
Data columns (total 62 columns):
Kürzel                           3113 non-null object
Status Nr.                       1264 non-null object
Bemerkung                        275 non-null object
Labornummer                      3078 non-null object
Jahr                             3111 non-null object
Datum                            3113 non-null datetime64[ns]
Dauer                            3113 non-null object
Mittl.Abfluss                    3048 non-null object
Abflussumme                      3048 non-null object
Temp.(BAFU)                      3049 non-null object
pH(BAFU)                         2919 non-null object
Leitf. 25°C(BAFU)                2920 non-null object
Sauerstoff                       2896 non-null object
Sauerstoffsätt.%                 2896 non-null object
Mittl.Abfluss.1                  3097 non-null object
Abflussumme.1                    3097 non-null object
Temp.(BAFU).1                    3113 non-null object
pH(BAFU).1                       2872 non-null object
Leitf. 25°C(BAFU).1              999 non-null object
Sauerstoff.1                     2856 non-null object
Sauerstoffsätt.%.1               2854 non-null object
pH (EAWAG)                       3039 non-null object
Leitf.20°C (EAWAG)               3046 non-null object
Gesamthärte                      3052 non-null object
Alkalinität                      3052 non-null object
Calcium                          3050 non-null object
Magnesium                        3050 non-null object
Nitrit                           1259 non-null object
Nitrat                           3052 non-null object
Ammonium                         1256 non-null object
Kjeldahl-Stickstoff              1135 non-null object
Gesamt-Stickstoff (filtriert)    23 non-null object
Gesamt-Stickstoff                2904 non-null object
DRP                              3033 non-null object
Gesamt-Phosphor                  3024 non-null object
Gesamt-Phosphor (filtriert)      551 non-null object
Chlorid                          3057 non-null object
Kieselsäure                      3052 non-null object
Sulfat                           3032 non-null object
Natrium                          3055 non-null object
Kalium                           3038 non-null object
Eisen                            680 non-null object
Chem.Sauerstoffbedarf            196 non-null object
TOC                              2964 non-null object
DOC                              3043 non-null object
Schwebstoffe                     3005 non-null object
Chrom                            628 non-null object
Zink                             1252 non-null object
Kupfer                           1297 non-null object
Cadmium                          1287 non-null object
Blei                             1263 non-null object
Nickel                           467 non-null object
Quecksilber                      21 non-null object
NP                               123 non-null object
NP1EO                            122 non-null object
NP2EO                            118 non-null object
NP3EO                            25 non-null object
Calcium (IC)                     535 non-null object
Status Nr.                       1849 non-null object
year                             3113 non-null int64
month                            3113 non-null int64
day                              3113 non-null int64
dtypes: datetime64[ns](1), int64(3), object(58)
memory usage: 1.5+ MB

In [9]:
#export complete frame as csv
dfx.to_csv("data_rhein.csv")